body{
  overflow-x: hidden;
}
.navbar-default{
  background: #010109;
  border: none;
  box-shadow: 0px -3px 20px 0px #0c0c0c;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: white;
}
.navbar-default .navbar-nav.sections>li>a:focus, .navbar-default .navbar-nav.sections>li>a:hover,
.navbar-default .navbar-brand:hover{
  background: #fed136;
  color: white;
}
nav .btn a{
  color: white !important;
  padding: 0px;
}
nav .btn{
  margin: 5px;
}
.form-container{
  padding: 30px;
  padding-top: 20px;
  background: rgba(23, 23, 23, 0.7);
  margin-bottom: 20px;
  box-sizing: content-box;
}
.capa{
  background-image: url('../img/capa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
header .container{
  width: 100%;
  /* padding: 250px; */
  min-height: 680px;
  padding-top: 200px;
  text-align: center;
  background: rgba(10, 10, 10, 0.19);
  position: relative;
}

header .text-intro{
  font-size: 40pt;
}
header .text-welcome{
  font-size: 20pt;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-scroll{
  width: 50px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
}
.btn-scroll:hover{
  width: 60px;
  height: 60px;
  font-size: 26px;
  line-height: 55px;
}
.loginForm{
  padding-top: 50px;
}
.loginForm input:not(.btn){
  color: black;
}
.radius{
  border-radius:50%;
}
main .container{
  padding-top: 100px;
}
.about{
  padding-top: 30px;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-bottom: 100px;
}
.img img{
  width: 100%;
}
#newest{
  background-color: #eee;
  padding-bottom: 100px;
  margin: 0px;
  width: 100%;
}
.newest {
  padding-bottom: 50px;
}
.timeline ul{
  position: relative;
  list-style: none;
}
.timeline ul::before{
  left: 50%;
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #e1e1e1;
  margin-left: -1.5px;
}
.timeline li{
  margin-bottom: 100px;
  position: relative;
  min-height: 200px;
}
.timeline .timeline-image{
  left: 50%;
  margin-left: -120px;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 12px 0px rgb(23, 23, 23);
  text-align: center;
}
.timeline .timeline-image .hover{
  position: absolute;
  font-size: 50pt;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.64);
  border-radius: 50%;
  padding-top: 30%;
  cursor: pointer;
  visibility: hidden;
}
.timeline .timeline-image:hover .hover{
  visibility: visible;
}
.timeline .timeline-card{
  width: calc(50% - 100px);
  padding: 0 40px 0 20px;
  position: relative;
  text-align: right;
}
.timeline h4{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.timeline-inverted>.timeline-card {
  float: right;
  text-align: left;
  padding: 0 30px 20px 20px;
}
footer{
  padding: 50px;
  background: #010109;
}
.social-buttons li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 250, 250, 0.18);
  font-size: 14pt;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.social-buttons li:hover{
  background-color: #fed136;
}
.social-buttons li a{
  color: white;
}
.social-buttons li a:hover{
  text-decoration: none;
}
